{% extends 'base/base.html' %} {% load static %} {% block content %}
<div class="table-responsive-md">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Sexo</th>
                <th scope="col">Celular</th>
                <th scope="col">whatsapp</th>
                <th scope="col">Telefone Fixo</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Profissão</th>
            </tr>
        </thead>
        {% for profile in profiles %}
        <tbody>
            <th scope="row">{{ profile.id }}</th>
            <td>{{ profile.nome }}</td>
            <td>{{ profile.sexo }}</td>
            <td>{{ profile.phone_number }}</td>
            {% if profile.isWhatsapp %}
            <td><i class="material-icons" style="color:#42A746">check_circle</i></td>
            {%else%}
            <td><i class="material-icons" style="color:#DC3D45">highlight_off</i></td>
            {%endif%}
            <td>{{ profile.landline }}</td>
            <td>{{ profile.birth_date | date:'d/m/Y' }}</td>
            <td>{{ profile.occupation }}</td>
            <td>
                <a href="{% url 'collaborator:update_profile_collaborator' profile.id %}" class="btn btn-info fa fa-edit" title="Editar Usuário"></a>
            </td>
        </tbody>
        {% empty %}
        <div class="alert alert-primary" role="alert">Nenhum colaborador cadastrado.</div>
        {% endfor %}
    </table>
</div>


{% endblock %}