{% extends 'base/base.html' %}
{% load static %}
{% block content %}
{% block css %}
    <link rel="stylesheet" href="{% static 'dist/css/base.css' %}">
{% endblock %}

<div class="row wrapper border-bottom bg-white page-heading">
    <div class="col-lg-10">
        <h2 class="text-muted profile">Perfil do Profissional</h2>
        <p class="text-muted" style="margin-bottom: 10px;font-size: 15px;"><strong>Informações sobre o profissional</strong></p>
    </div>
</div>
        {% csrf_token %}
            {% for c in profile %}
             nome {{c.nome}}</br>
              {{c.birth}}
            {% endfor %}
{% endblock %}