{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <div class="card text-white bg-primary" style="width: 18rem;">
        <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
{% endblock %}
